.autoMart-nav__list .post-ad a {
  color: #000000;
  font-weight: bold;
}

.car-card-container {
  display: flex;
  flex-wrap: wrap;
}

.car-card {
  width: 300px;
  height: 370px;
  min-width: 300px;
  border: 1px solid #E5E5E5;
  cursor: pointer;
  margin: 2em auto;
}

.car-card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.car-image {
  position: relative;
  width: inherit;
  height: 200px;
  overflow: hidden;
}

.w3-tag {
  position: absolute;
  top: 0;
  right: 0;
  background: #733802 !important;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0.5em;
  font-size: 13px;
}

.new {
  background: #02731B !important; 
}

.reported {
  background: #FF0000 !important; 
}

.car-details {
  margin: 0;
  padding: 0;
}

.car-name {
  text-transform: uppercase;
  font-weight: bold;
}

.car-desc {
  text-transform: capitalize;
}

.car-price {
  font-weight: bold;
}

.car-details a {
  text-decoration: none;
}

.car-details a:link { 
  border: 1px solid #000000;   
  border-radius: 3.5px;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  padding: 8px 130px;
  margin-left: 7px;
  text-transform: uppercase;
  color: #000000;
}

.car-details .edit-button {
  padding: 0 !important;
  border: none !important;
  padding-left: auto;
}

.select {
  display: flex;
  background: rgb(252, 247, 247);
  padding: 5px;
}

.select div:first-of-type {
  margin-left: 1em;
}

.select div {
  margin-left: 17em;
}

select, .price-range {
  border-radius: 3px;
}

.price-range {
  display: inline;
  font-size: 14px;
}

.price-range label {
  margin-left: 1em;
}

/**Styling for user dashboard**/

.user-dashboard {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 10px;
  margin: 2em auto;
}

.user-dashboard a {
  margin: 9.5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.user-dashboard a:last-of-type {
  border-right: none;
}

.user-dashboard a:hover, .user-dashboard a:active {
  background: #000000;
  color: #FFFFFF;
  padding: 11.5px;
}

.post-ad-button {
  position: absolute;
  top: 13.5em;
  right: 0;
  margin: 0 5.2em 1em;
}

.post-ad-button a {
  text-decoration: none;
  padding: 10px;
  border-radius: 3.5px;
  font-size: 0.8em;
  text-align: center;
  cursor: pointer;
  padding: 10px 25px;
  margin: 4px 2px;
  text-decoration: none;
  border: 1px solid #733802;
  background: #733802;
  color: #FFFFFF;
  text-transform: uppercase;
}

.post-ad-button a:hover {
  background: #FFFFFF;
  color: #733802;
  border: 1px solid #733802;
}