/**
* Global elements
**/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");

body,html {
    background: #FFFFFF;
    height: 100%;
    font-family: Open Sans, Lato;
    }
    
    .container {
        width: 100%;
    }
    
    div .autoMart-logo {
        margin: -2em 0 0 5em;
    }

    .autoMart-nav__list {
        list-style-type: none;
        font-size: 1.1em;
        display: flex;
        justify-content: flex-end;
        margin: -9em 3em 0 0;
        text-transform: uppercase;
    }
    
    .autoMart-nav__list a {
        text-decoration: none;
    }
    
    .autoMart-nav__item {
        margin: 2em;
    }
    
    .autoMart-nav__list .signup a:link, .autoMart-nav__list .signin a:link {    
        padding: 10px;
        border-radius: 3.5px;
        font-size: 0.8em;
        text-align: center;
        cursor: pointer;
        padding: 10px 25px;
        margin: 4px 2px;
    }

    .autoMart-nav__list .signup a:link, .autoMart-nav__list .signup a:visited {
        border: 1px solid #733802;
        background: #733802;
        color: #FFFFFF;
    }

    .autoMart-nav__list .signup a:hover {
        background: #FFFFFF;
        color: #733802;
        padding: 10px 25px;
        border: 1px solid #733802;
    }

    .autoMart-nav__list .signin a:link, .autoMart-nav__list .signin a:visited {
        border: 1px solid #000000;
        color: #000000;
    }

    .autoMart-nav__list .signin a:hover {
        background: #000000;
        color: #FFFFFF;
        padding: 10px 25px;
    }
    
    .form {
        width: 55%;
        text-align: center;
    }
    
    .form .form-field {
        font-size: 1em;
        font-weight: bold;
        margin: 1.1em;
    }
    
    .form .form-field input[type="text"],
    input[type="phone no"],
    input[type="email"], 
    input[type="password"] {
        padding: 8px;
        width: 320px;
    }
    
    .form .form-field .btn-form {
        width: 320px;
        height: 50px;
        border: 1px solid #733802;
        background: #733802;
        color: #FFFFFF;
        font-size: 1em;
        text-transform: uppercase;
    }
    
    .form .form-field input::placeholder {
        padding: 5px;
    }

    @media screen and (min-width: 320px) and (max-width: 767px) {
        .autoMart-nav__item {
            justify-content: flex-start;
            margin: 6em auto !important;
        }
    
        .autoMart-nav__list .signup a:link {    
            margin-right: 1em !important;
        }
    }