@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  background: url('../images/bg-landing.jpeg') no-repeat right top;
  background-size: cover;
  background-clip: border-box;
  width: 100%;
  height: 120%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.autoMart-nav__list .signin a:link, .autoMart-nav__list .signin a:visited {
  border: none;
  background: #FFFFFF;
  color: #000000;
}

.autoMart-nav__list .signin a:hover {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
  padding: 10px 25px;
}

h1 {
  margin-top: 1em;
  font-size: 60px;
  text-align: center;
  font-family: Pacifico;
  color: #FFFFFF;
}

.content-slider {
  width: 100%;
  height: 520px;
  border-radius: 15px;
  color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 450px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 34px;
  text-align: center;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

.btn-purchase, .btn-advertise {
    border-radius: 10px;
    width: 420px;
    height: 60px;
    border: 1px solid #733802;
    background: #733802;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    margin: 3em 7em;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -325px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }
  16% {
    top: -325px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }
  56% {
    top: -325px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }
  76% {
    top: -325px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .content-slider {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
    margin-top: -6em;
  }

  .slider .quote {
    font-size: 28px;
    text-align: left !important;
    width: 40%;
    margin-left: 1em;
  }
  .slider .source {
    font-size: 16px;
    text-align: left;
    margin-left: 2em;
    width: 50%;
  }
  
  h1 {
    font-size: 35px;
    text-align: left;
    margin-left: 3em;
  }

  .btn-purchase, .btn-advertise {
    border-radius: 0;
    width: 120px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    font-size: 14px;
  }
    
}