.container {
    display: flex;
}
.car-card-container {
    width: 60%;
}

.car-card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.car-card {
    width: 600px;
    height: 570px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    margin: 2em auto;
}

.car-card h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-left: 0.5em;
}

.car-image {
    position: relative;
    min-width: 600px;
    height: 400px;
    overflow: hidden;
}

.car-image img {
    min-width: inherit;
}

.w3-tag {
    position: absolute;
    top: 0;
    right: 0;
    background: #02731B !important;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.5em;
    font-size: 13px;
}

.car-details {
    display: flex;
    justify-content: space-between;
    width: 530px;
    flex-wrap: wrap;
    padding-left: 0.5em;
}

.car-details label {
    text-transform: uppercase;
    font-weight: bold;
}

.car-details span {
    text-transform: capitalize;
}

.purchase h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.7em;
}

.car-card-container .report-ad {
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #FF0000;
    background: transparent;
    cursor: pointer;
    margin-left: 8.3em;
    margin-bottom: 3em;
}

.car-card-container .warning-icon {
    display: inline-block;
    padding-right: 0.7em;
}

.form {
    width: 55%;
    text-align: center;
    margin: 0 !important;
}

.form .form-field .btn-form {
    width: 320px;
    height: 50px;
    border: 1px solid #733802;
    background: #733802;
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
}

.tandc {
    margin: -25% 61.2%;
    padding: 0;
    width: 25%;
    font-size: 14px;
    color: #666666;
}