.container {
    display: flex;
}
.car-card-container {
    width: 60%;
}

.car-card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.car-card {
    width: 600px;
    height: 570px;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    margin: 2em auto;
}

.car-card h4 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding-left: 0.5em;
}

.car-image {
    position: relative;
    min-width: 600px;
    height: 400px;
    overflow: hidden;
}

.car-image img {
    min-width: inherit;
}

.w3-tag {
    position: absolute;
    top: 0;
    right: 0;
    background: #02731B !important;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0.5em;
    font-size: 13px;
}

.car-details {
    display: flex;
    justify-content: space-between;
    width: 530px;
    flex-wrap: wrap;
    padding-left: 0.5em;
}

.car-details label {
    text-transform: uppercase;
    font-weight: bold;
}

.car-details span {
    text-transform: capitalize;
}

.purchase h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0.7em;
}

.car-card-container .report-ad {
    text-transform: uppercase;
    font-size: 13px;
    border: 1px solid #FF0000;
    background: transparent;
    cursor: pointer;
    margin-left: 8.3em;
    margin-bottom: 3em;
}

.car-card-container .warning-icon {
    display: inline-block;
    padding-right: 0.7em;
}

.form {
    width: 55%;
    text-align: center;
    margin: 0 !important;
}

.form .form-field .btn-form {
    width: 320px;
    height: 50px;
    border: 1px solid #733802;
    background: #733802;
    color: #FFFFFF;
    font-size: 1em;
    text-transform: uppercase;
}

.tandc {
    margin: -25% 61.2%;
    padding: 0;
    width: 25%;
    font-size: 14px;
    color: #666666;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .car-card-container {
        width: 100%;
    }

    .car-card {
        width: 350px !important;
        height: 420px !important;
        margin: auto;
    }

    .car-image {
        min-width: 350px;
        height: 200px;
    }

    .car-details {
        width: 230px;
    }

    .car-card-container .report-ad {
        margin: 1em 0 2em 0;
    }

    .tandc {
        margin: 3% 5%;
        width: 87%;
        font-size: 12px;
    }

    .form .form-field input[type="text"],
    input[type="phone no"],
    input[type="email"], 
    input[type="password"] {
        padding: 8px;
        width: 270px;
    }

    .form .form-field .btn-form {
        width: 270px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .car-card-container {
        width: 100%;
    }

    .car-card {
        width: 730px !important;
        height: 600px !important;
        margin: 0;
    }

    .car-image {
        min-width: 730px;
        height: 400px;
    }

    .car-details {
        display: flex;
        justify-content: space-between;
        width: 530px;
        flex-wrap: wrap;
        padding-left: 0.5em;
    }

    .car-card-container .report-ad {
        margin: 1em 4em 2em 0 !important;
    }

    .tandc {
        margin: 3% 3%;
        width: 60%;
        font-size: 16px;
    }

    .form .form-field input[type="text"],
    input[type="phone no"],
    input[type="email"], 
    input[type="password"] {
        padding: 8px;
        width: 450px;
    }

    .form .form-field .btn-form {
        width: 450px;
    }
}